<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Iblog-3.1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<servlet-class>com.iblog.servlet.MainServlet</servlet-class>
  	<init-param>
  		<param-name>Login</param-name>
  		<param-value>com.iblog.action.LoginAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>Register</param-name>
  		<param-value>com.iblog.action.RegisterAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>Publish</param-name>
  		<param-value>com.iblog.action.PublishAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>GotoMainPage</param-name>
  		<param-value>com.iblog.action.GotoMainPageAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RefreshMainPage</param-name>
  		<param-value>com.iblog.action.RefreshMainPageAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>GotoMyspace</param-name>
  		<param-value>com.iblog.action.GotoMyspaceAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RefreshMyspace</param-name>
  		<param-value>com.iblog.action.RefreshMyspaceAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>GotoOtherspace</param-name>
  		<param-value>com.iblog.action.GotoOtherspaceAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RefreshOtherspace</param-name>
  		<param-value>com.iblog.action.RefreshOtherspaceAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>BlogDetail</param-name>
  		<param-value>com.iblog.action.BlogDetailAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RefreshBlogDetail</param-name>
  		<param-value>com.iblog.action.RefreshBlogDetailAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>DeleteBlog</param-name>
  		<param-value>com.iblog.action.DeleteBlogAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>PublishReply</param-name>
  		<param-value>com.iblog.action.PublishReplyAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>DeleteReply</param-name>
  		<param-value>com.iblog.action.DeleteReplyAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>Follow</param-name>
  		<param-value>com.iblog.action.FollowAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>GotoMyfollow</param-name>
  		<param-value>com.iblog.action.GotoMyfollowAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RefreshMyfollow</param-name>
  		<param-value>com.iblog.action.RefreshMyFollowAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>GotoMyfan</param-name>
  		<param-value>com.iblog.action.GotoMyfanAction</param-value>
  	</init-param>
  	<init-param>
  		<param-name>RefreshMyfan</param-name>
  		<param-value>com.iblog.action.RefreshMyfanAction</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
</web-app>